.light {
  background-color: #ebf6ff;
  transition: 1s;
}

.dark {
  background-color: #5d5d5d;
  transition: 1s;
}

/* header */
.header {
  background-color: #ebf6ff;
  transition: 1s;
}

.header-dark {
  background-color: #3e3936;
  transition: 1s;
}
.header-dark a {
  color: #fff;
}

.logo {
  color: #568eea !important;
}

/* home */
.home h2 {
  font-size: 3.8rem;
  color: #000;
}

.home h3 {
  font-size: 2rem;
  color: #000;
}

.home p {
  font-size: 1.8rem;
  color: #7f7771;
}

.home-dark h2 {
  font-size: 3.8rem;
}

.home-dark h3 {
  font-size: 2rem;
}

.home-dark p {
  font-size: 1.8rem;
}

.home-dark p,
h2,
h3 {
  color: #fff;
}

.home-card-dark {
  background-color: #8181814e;
}

.home-card {
  background-color: #fff;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.course-card {
  height: 470px;

  background-color: #fff;
  cursor: pointer;
}

.course-details img {
  width: 100%;
  height: 480px;
}

.course-details .details {
  background-color: #568fea1a;
}

.form {
  width: 50%;
}

.btn {
  background-color: #568eea !important;
  border: none !important;
  color: #fff !important;
}

.btn-outline {
  background-color: #ffffff00 !important;
  border: 1px solid #568eea !important;
  color: #568eea !important;
  border-radius: 4px;
}

.btn-outline:hover {
  transition: 0.6s;
  background-color: #568eea !important;
  border: 1px solid #568eea !important;
  color: #fff !important;
}

.logout-btn {
  background-color: #ed5b5b !important;
  border: none !important;
  color: #fff !important;
  border-radius: 4px;
}

.price-badge {
  background-color: #cebbac;
  color: #64564e;
}

.btn-premium {
  background-color: #ffffff00 !important;
  border: 1px solid #faaf40 !important;
  color: #faaf40 !important;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px;
  transition: 0.5s;
}

.btn-premium:hover {
  transition: 0.6s;
  background-color: #faaf40 !important;
  border: 1px solid #faaf40 !important;
  color: #fff !important;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px;
}

/* footer */
.footer {
  background-color: #fff;
}

.footer-dark p,
a {
  color: #fff;
  text-decoration: none;
}

.footer-dark {
  background-color: #3e3936;
}

@media screen and (max-width: 768px) {
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }

  .course-details img {
    width: 85%;
    height: 200px;
  }

  .form {
    width: 85%;
  }

  /* home */
  .home h2 {
    font-size: 2.8rem;
  }
  .home h3 {
    font-size: 1.5rem;
  }
  .home p {
    font-size: 1rem;
    color: #7f7771;
  }
}
